.service {
  position: relative;
  width: 320px;
}

.service .dog {
  height: 110px;
  left: 0;
  position: absolute;
  top: 0;
  width: 153px;
}

.service .dog-icon {
  background-image: url(../../../static/img/1111-1-1-12.png);
  background-size: 100% 100%;
  height: 80px;
  left: 0;
  position: absolute;
  top: 0;
  width: 80px;
}

.service .peluquer-a {
  color: var(--textblack);
  font-family: "Montserrat", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0.48px;
  line-height: normal;
  position: absolute;
  top: 89px;
  width: 301px;
}

.service .text {
  height: 34px;
  left: 0;
  position: absolute;
  top: 120px;
  width: 320px;
}

.service .p {
  color: var(--textblack);
  font-family: "Calibri-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
  width: 320px;
}

.service .primary-button-2 {
  height: 34px !important;
  left: 0 !important;
  position: absolute !important;
  top: 176px !important;
  width: 120px !important;
}

.service .primary-button-3 {
  height: 15px !important;
  top: 8px !important;
  width: 120px !important;
}

.service.property-1-12-w-CTA {
  height: 210px;
}

.service.property-1-12-default {
  height: 154px;
}
